.MuiPopover-root{
  width: 800px;
  max-width: 200%;
}

.recruiter{
  background-color: white;
}
 body{
  background-color:#e8e8e8!important;
  /* background-color: #e3fdfd !important; */
  /* background-image:-webkit-linear-gradient(65deg, #a6e3e9 50%, #e3fdfd 50%)!important; */

}

.navbar-bg{
  background-color: white;

}
.nav-ul{
  margin-left: 15px;
}
.nav-item{
  color:black;
  font-size:large;
  padding: 0 5px 0 5px;
}




em{
  color:black;
 text-align: center;
 margin-top:5%;
 margin-left:2%;
}


.card-component{
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 2%;
}




.form-signup {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}
.form-signup .checkbox {
  font-weight: 400;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}


.form-profile {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}
.form-profile .checkbox {
  font-weight: 400;
}
.form-profile .form-control {

  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}


#app {
  padding: 1rem;
  background: black;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #54FE55;
  text-shadow: 2px 2px 10px;
  font-size: 8rem;
  flex-direction: column;
}

#app .txt {
  font-size: 2rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
